html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-container {
    position: relative;
    max-width: 100%;
}

#header {
    position: absolute;
    top: 1%;
    max-width: 100%;
}

#header>.container {
    display: flex;
    justify-content: center;
}

.btn {
    cursor: pointer;
    width: 285px;
    height: 46px;
    background: none;
    border: 1px solid #FFFFFF;
    ;
    color: #FFFFFF;
}

.catalog {
    border-left: none;
}

.contacts {
    border-right: none;
}

.btn:hover {
    transition: 0.3;
    background: rgb(136, 131, 131);
    color: #FFFFFF;
    transition: 0.6s;
}
.first-section {
    background: url("../assets/bgc.png");
    background-repeat: no-repeat;
    height: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section-info {
    position: absolute;
    top: 130px;
    max-width: 1140px !important;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #C4C4C4;
    padding: 60px 187px;
}

.first-section-title {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}

.horizontal-line {
    width: 160px;
    height: 0px;
    margin: 40px 0 40px 0;
    border: 1px solid #FFFFFF;
}

.first-section-text {
    max-width: 733px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.first-section-img {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}



.second-section-container {
    max-width: 100%;
    min-height: 900px;
    background: #E6E3C4;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-horizontal-line {
    width: 70vw;
    height: 0px;
    border: 1px solid #998431;
    margin-bottom: 60px;
}

.second-section-info {
    display: flex;
    min-height: 758px;
}

.second-section-info>.left {
    margin-right: 125px;
    width: 445px;
}

.second-section-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 30px;
}

.second-section-title {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    width: 300px;
    color: #282828;
    margin-bottom: 30px;
}

.left-horizontal-line {
    width: 160px;
    height: 0px;
    border: 1px solid #282828;
    margin-bottom: 30px;
}

.left-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.left-table {
    margin: 30px 0;
}

.left-button>a>button {
    width: 254px;
    height: 50px;
    background: #998431;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.left-button {
    margin-top: 30px;
}

.right-bottom {
    display: flex;
    gap: 30px;
}

#preloader {
    background: #fff url(../assets/loader.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.dropbtn {
    background-color: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  

@media only screen and (max-width: 1150px) {
    .first-section-info {
        padding: 40px 60px;
        margin: 0 12%;
    }
    .dropdown {
        display: block !important;
    }
    .container {
        display: none !important;
    }
    .second-section-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .second-section-info>.left {
        margin-right: 0;
        width: 445px;
    }
    .first-section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .first-section-img>img {
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width: 885px) {
    .first-section-img>img {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    .dropdown {
        display: block !important;
    }
    .container {
        display: none !important;
    }
    .first-section-img>img {
        display: none;
    }
    .first-section-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw!important;
        padding: 0 15px 35px 15px;
        height: max-content;
    }
    .first-section-title {
        font-size: 25px;
    }
    .horizontal-line {
        margin: 20px 0;
    }
    #header {
        padding-left: 15px;
    }
    .right-top>img {
        width: 100vw;
    }
    .right-bottom {
        gap:0;
    }
    .right-bottom>img {
        width: 50vw;
    }
    .left-table >img{
        width: 95vw;
    }
    .second-section-info>.left {
        margin-right: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-text {
        padding-left: 10px;
        width: 95vw;
    }
}
