html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.about-container {
    background:url('../assets/georgian-wine-cellar-1920x800.jpg') center center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#header {
    position: absolute;
    top: 1%;
    width: 100vw;
}

#header>.container {
    display: flex;
    justify-content: center;
}
.btn {
    cursor: pointer;
    width: 285px;
    height: 46px;
    background: none;
    border: 1px solid #FFFFFF;
    ;
    color: #FFFFFF;
}

.catalog {
    border-left: none;
}

.contacts {
    border-right: none;
}

.btn:hover {
    transition: 0.3;
    background: rgb(136, 131, 131);
    color: #FFFFFF;
    transition: 0.6s;
}
#preloader {
    background: #fff url(../../assets/loader.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  

.about-info>.information>.header>h1 {
    font-size: 55px;
    line-height: 43px;
    font-weight: 300;
    letter-spacing: 0;
    color: white;
} 
.about-info {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.information {
    margin-top: 200px;
    width: 50vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    border: 1px solid white;
    border-radius: 25px;
}
.information>p {
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 1100px) {
   
    .dropdown {
        display: block !important;
    }
    .container {
        display: none !important;
    }
}
@media only screen and (max-width: 620px) {
    .about-info>.information>.header>h1 {
        font-size: 30px;
    }
    #header {
        padding-left: 15px;
    }
    .dropdown {
        display: block !important;
    }
    .container {
        display: none !important;
    }
}    