* {
    margin: 0;
    padding: 0;
}
.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info {
    background: url('../../assets/georgian-wine-cellar-1920x800.jpg') center center/cover no-repeat;
    height: 100vh;
    max-width: 100vw;
    
}
#preloader {
    background: #fff url(../../assets/loader.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
.info {
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.main_title {
    font-size: 55px;
    line-height: 43px;
    font-weight: 300;
    letter-spacing: 0;
    color: white;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;

}
.right>input {
    width: 400px;
    height: 50px;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
}
::placeholder { 
    color: white;
    opacity: 1; 
}
.btn {
    height: 50px;
    width: 200px;
    border: 2px solid white;
    background: rgba(15, 15, 15, 0.2);
    color: white;
    cursor: pointer;
}
.btn:hover {
    color: black;
    background: rgba(255, 255, 255, 0.2);
}
#header {
    position: absolute;
    top: 1%;
    width: 100vw;
}

#header>.container {
    display: flex;
    justify-content: center;
}
#contacts {
    cursor: not-allowed ;
}
.dropbtn {
    background-color: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
.btn {
    cursor: pointer;
    width: 285px;
    height: 46px;
    background: none;
    border: 1px solid #FFFFFF;
    ;
    color: #FFFFFF;
}

.catalog {
    border-left: none;
}

.contacts {
    border-right: none;
}

.btn:hover {
    transition: 0.3;
    background: rgb(136, 131, 131);
    color: #FFFFFF;
    transition: 0.6s;
}
@media only screen and (max-width: 620px) {
    #header {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 1100px) {
    .left   {
        display: flex;
        flex-direction: column;
        margin-top: 70px !important;
    }
    .dropdown {
        display: block !important;
    }
    .container {
        display: none !important;
    }
}
@media only screen and (max-width: 620px) {
    .dropdown {
        display: block !important;
    }
    .container {
        display: none !important;
    }
    #header {
        padding-left: 15px;
    }
    .ri
   .google-map>iframe {
    width: 350px !important;
    height: 200px !important;
   }
   .main_title {
    font-size: 40px;
   }

   .right>input {
    width: 350px;
    height: 50px;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    }
    .btn {
        height: 45px;
        width: 150px;
        border: 2px solid white;
        background: rgba(15, 15, 15, 0.2);
        color: white;
        cursor: pointer;
    }
}